<div class="card shadow-sm text-light bg-dark">
  <div class="card-body">
    <h5 class="card-title text-info-emphasis">{{title}}</h5>
    <p class="card-text text-body-emphasis">{{description}}</p>
    <h6 class="card-subtitle mb-2 text-muted text-secondary-emphasis"><a href="{{project_link}}" target="_blank" class="text-light-emphasis">{{project_link}}</a></h6>
  </div>
</div>
