<div id="available-tags">
  <h3>Available Tags</h3>
  {{#each tags as |tag|}}
  <button class="tag" data-id="{{tag.id}}">{{tag.name}}</button>
  {{/each}}
</div>

<div id="user_tag">
  <h3>Selected Tags</h3>
</div>

<div>
  <div>
    <h2 class="text-primary-emphasis">Create New Post</h2>
  </div>
  <form id="new-data-form" class="mb-4">
    <div class="mb-3">
      <label for="data-title" class="form-label text-light-emphasis">Title</label>
      <textarea name="data-title"></textarea>
      <label for="data-description" class="form-label text-light-emphasis">Description</label>
      <textarea name="data-description"></textarea>
      <label for="data-link" class="form-label text-light-emphasis">Project Link</label>
      <textarea name="data-link"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>
<script src="/js/addPost.js"></script>
