<div>
  {{!-- Reminder: examples comes from the data being passed in the res.render on homeRoutes.js! --}}

  {{#each posts as |post|}}
  {{!-- Reminder- this is a partial! Handlebars will render the code located in items.handlebars in the /partials/
  directory! --}}
  {{>items}}
  {{/each}}
</div>

<div>
  <div>
    <h2>Create New Post</h2>
  </div>
  <form id="new-data-form">
    <label for="data-title">Title</label>
    <textarea name="data-title"></textarea>
    <label for="data-description">Description</label>
    <textarea name="data-description"></textarea>
    <label for="data-link">Project Link</label>
    <textarea name="data-link"></textarea>

    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>