<!-- Search Bar for Username -->
<div class="search-bar mb-4 w-50">
  <input type="text" id="usernameSearchInput" class="form-control" placeholder="Search by username">
  <button type="button" id="userSearch" class="btn btn-outline-danger mt-2">Search</button>
</div>

<!-- Search Bar for Tag Name -->
<div class="search-bar mb-4 w-50">
  <input type="text" id="tagSearchInput" class="form-control" placeholder="Search by tag-name">
  <button type="button" id="tagSearch" class="btn btn-outline-warning mt-2">Discover</button>
</div>

<!-- Results Div with White Text -->
<div id="results" class=".text-success">
  Results
</div>

<!-- Display posts -->
<div>
  {{#each posts as |post|}}
  {{!-- Render each post using the items partial --}}
  {{>items}}
  {{/each}}
</div>

<script src="/js/homepage.js"></script>