<div>
  <div>
  {{!-- Reminder: examples comes from the data being passed in the res.render on homeRoutes.js! --}}

  {{#each posts as |post|}}
  {{!-- Reminder- this is a partial! Handlebars will render the code located in items.handlebars in the /partials/
  directory! --}}
  {{>items}}
  {{/each}}
</div>
  <div>
    <h2 class=".text-success">Create New Post</h2>
  </div>
  <form id="new-data-form" class="mb-4">
    <div class="mb-3">
      <label for="data-title" class="form-label .text-success">Title</label>
      <textarea name="data-title" class="form-control"></textarea>
      <label for="data-description" class="form-label .text-success">Description</label>
      <textarea name="data-description" class="form-control"></textarea>
      <label for="data-link" class="form-label .text-success">Project Link</label>
      <textarea name="data-link" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-info">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>
