<div class="row">
  {{#each examples}}
  <div class="col-md-4 mb-4">
    {{>item}}
  </div>
  {{/each}}
</div>

<div class="mt-5">
  <h2 class="text-primary-emphasis">Create New Message</h2>
  <form id="new-data-form" class="mb-4">
    <div class="mb-3">
      <label for="data-message" class="form-label text-light-emphasis">Message</label>
      <textarea class="form-control" name="data-message" id="data-message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

<script src="/js/newData.js"></script>
