<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header text-center text-white bg-primary">
        <h2 class="card-title">Login</h2>
      </div>
      <div class="card-body">
        <form id="login-form">
          <div class="mb-3">
            <label for="username-input-login" class="form-label text-light">Username</label>
            <input type="text" class="form-control" id="username-input-login" />
          </div>
          <div class="mb-3">
            <label for="password-input-login" class="form-label text-light">Password</label>
            <input type="password" class="form-control" id="password-input-login" />
          </div>
          <button type="submit" class="btn btn-outline-success w-100">Login</button>
          <div class="text-center mt-3">
            <a href="/signup" class="btn btn-outline-info w-100">Sign up instead</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
