<div class="row">
  {{#with userExamples}}
  <div class="col-md-8 mb-4 mx-auto">
    <div class="card shadow-sm bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title text-warning-emphasis">{{message}}</h5>
        <p class="card-text text-body-secondary">{{title}}</p>
        <p class="card-text text-body-secondary">{{description}}</p>
      </div>
    </div>
  </div>
  {{/with}}
</div>
<div class="row mt-3">
  <h2 class="col-9 text-center">Tags : </h2>
  <ul class="list-goup">
    {{#each userExamples.tags as |tag|}}
    <li class="list-group-item">{{tag.name}}</li>
    {{/each}}
  </ul>
</div>

<script src="/js/page-one.js"></script>