<div class="row">
  {{#each userExamples}}
  <div class="col-md-4 mb-4">
    <div class="card shadow-sm bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title text-warning-emphasis">{{message}}</h5>
        <p class="card-text text-body-secondary">This message is specific to this user!</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/page-one.js"></script>
