<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm bg-dark text-light">
      <div class="card-body">
        <h2 class="card-title text-center text-success-emphasis">Sign Up</h2>
        <form id="signup-form">
          <div class="mb-3">
            <label for="username-input-signup" class="form-label text-light-emphasis">Username</label>
            <input type="text" class="form-control" id="username-input-signup" />
          </div>
          <div class="mb-3">
            <label for="password-input-signup" class="form-label text-light-emphasis">Password</label>
            <input type="password" class="form-control" id="password-input-signup" />
          </div>
          <button type="submit" class="btn btn-primary w-100">Signup!</button>
          <div class="text-center mt-3">
            <a href="/login" class="text-info-emphasis">Login instead</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>
