<!-- Search Bar for Username -->
<div class="search-bar mb-4">
  <input type="text" id="usernameSearchInput" class="form-control" placeholder="Search by username">
  <button type="button" id="userSearch" class="btn btn-primary mt-2">Search by Username</button>
</div>

<!-- Search Bar for Tag Name -->
<div class="search-bar mb-4">
  <input type="text" id="tagSearchInput" class="form-control" placeholder="Search by tag name">
  <button type="button" id="tagSearch" class="btn btn-primary mt-2">Search by Tag</button>
</div>


<div id="results" class="mb-4">Results</div>

<!-- Display posts -->
<div>
  {{#each posts as |post|}}
  {{!-- Render each post using the items partial --}}
  {{>items}}
  {{/each}}
</div>
