  <div class="container">
        <h1 class="my-4">User Posts</h1>
        
        
{{#each posts}}
            <div class="post-card mb-4">
                {{>user}}
               
            </div>
        {{/each}}
    </div>








